<!--
¿Qué es el diseño web receptivo?
Responsive Web Design se trata de usar HTML y CSS para redimensionar, ocultar, reducir o ampliar automáticamente un sitio web, 
para que se vea bien en todos los dispositivos (computadoras de escritorio, tabletas y teléfonos)
-->
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <h2>Setting the Viewport</h2>
    <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>

</body>

</html>